backend/microservices/webhook/service.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="WebHook"
 targetNamespace="http://localhost:4000/webhook.wsdl"
 xmlns:tns="http://localhost:4000/webhook.wsdl"
 xmlns:xsd1="http://localhost:4000/webhook.xsd"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
>
<wsdl:types>
<xsd:schema targetNamespace="http://localhost:4000/webhook.xsd" xmlns:xsd="http://www.w3.org/2000/10/XMLSchema">
            <xsd:element name="SubscribeAgentRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="requestBody" nillable="false"  type="string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SubscribeAgentResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="responseBody" nillable="false" type="string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SynchronizeRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="requestBody" nillable="false"  type="string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SynchronizeResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="responseBody" nillable="false" type="string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetAttributesRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="requestBody" nillable="false"  type="string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetAttributesResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="responseBody" nillable="false" type="string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
</xsd:schema>
</wsdl:types>
    <wsdl:message name="SubscribeAgentRequestInput">
        <wsdl:part name="body" element="xsd1:SubscribeAgentRequest" />
    </wsdl:message>
    <wsdl:message name="SubscribeAgentRequestOutput">
        <wsdl:part name="body" element="xsd1:SubscribeAgentResponse" />
    </wsdl:message>
    <wsdl:message name="SynchronizeRequestInput">
        <wsdl:part name="body" element="xsd1:SynchronizeRequest" />
    </wsdl:message>
    <wsdl:message name="SynchronizeRequestOutput">
        <wsdl:part name="body" element="xsd1:SynchronizeResponse" />
    </wsdl:message>
    <wsdl:message name="GetAttributesRequestInput">
        <wsdl:part name="body" element="xsd1:GetAttributesRequest" />
    </wsdl:message>
    <wsdl:message name="GetAttributesRequestOutput">
        <wsdl:part name="body" element="xsd1:GetAttributesResponse" />
    </wsdl:message>
<wsdl:portType name="WebhookPort">
    <wsdl:operation name="SubscribeAgent">
            <wsdl:input message="tns:SubscribeAgentRequestInput" />
            <wsdl:output message="tns:SubscribeAgentRequestOutput" />
    </wsdl:operation>
    <wsdl:operation name="Synchronize">
            <wsdl:input message="tns:SynchronizeRequestInput" />
            <wsdl:output message="tns:SynchronizeRequestOutput" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributes">
            <wsdl:input message="tns:GetAttributesRequestInput" />
            <wsdl:output message="tns:GetAttributesRequestOutput" />
    </wsdl:operation>
</wsdl:portType>
    <wsdl:binding name="WebhookBinding" type="tns:WebhookPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SubscribeAgent">
            <soap:operation soapAction="http://localhost:4000/SubscribeAgent" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    
    <wsdl:operation name="Synchronize">
            <soap:operation soapAction="http://localhost:4000/Synchronize" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    
    <wsdl:operation name="GetAttributes">
            <soap:operation soapAction="http://localhost:4000/GetAttributes" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WebhookService">
        <wsdl:port name="WebhookPort" binding="tns:WebhookBinding">
            <soap:address location="http://localhost:4000/wsdl" />
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>